:root {
	--font-size: 16px;
	--padding-1: 8px;
	--padding-2: calc(var(--padding-1) * 2);
	--padding-4: calc(var(--padding-1) * 4);
	--mg: rgb(0, 101, 255);
	--gradient-text-color: rgb(244,233,205);
	--mc: #0062ea;
	--topmg: rgb(0, 101, 255);
	--module-color: #ffffff;
	--background-color: #e8e8e8;
	--module-shadow-color: rgba(0, 0, 0, 0.3);
	--underline-color: #8c8c8c;
	--module-border-color: #000000;
	--main-text-color: #000000;
	--input-field-color: #ffffff;
	--darker-messages-color: #cdcdcd;
	--form-background-color: #e8e8e8;
	--akcent-color: #0095ff;
	--icon-background-color: #ffffff;
	--schedule-table-header-color: #aaaaaa;
	--schedule-table-time-color: #aaaaaa;
	--schedule-lesson-color: #f1f1f1;
	--actionbtn-text-color: white;
	--location-text-color: rgb(3,25,38);
	--header-height: 90px;
}

:root[data-theme="deep-ocean"] {
	--mg: rgb(14, 28, 38);
	--gradient-text-color: rgb(255,255,255);
	--mc: rgb(110, 202, 236);
	--topmg: rgb(14, 28, 38);
	--module-color: rgb(42, 69, 75);
	--background-color: rgb(19, 35, 44);
	--module-shadow-color: rgba(0, 0, 0, 0);
	--underline-color: rgba(42, 69, 75);
	--module-border-color: rgb(28, 49, 57);
	--main-text-color: rgb(209, 238, 248);
	--input-field-color: rgb(33, 55, 63);
	--darker-messages-color: rgb(33, 55, 63);
	--form-background-color: rgb(33, 55, 63);
	--akcent-color: rgb(42, 69, 75);
	--icon-background-color: rgb(37, 62, 69);
	--schedule-table-header-color: rgb(33, 55, 63);
	--schedule-table-time-color: rgb(33, 55, 63);
	--schedule-lesson-color: rgb(42, 69, 75);
	--actionbtn-text-color: rgb(255,255,255);
	--location-text-color: rgb(255,255,255);
}

:root[data-theme="dzaga"] {
	--mg: rgb(3, 25, 38);
	--gradient-text-color: rgb(244,233,205);
	--mc: rgb(70,129,137);
	--topmg: rgb(3, 25, 38);
	--module-color: rgb(244,233,205);
	--background-color: rgb(157,190,187);
	--module-shadow-color: rgba(0, 0, 0, 0.3);
	--underline-color: #8c8c8c;
	--module-border-color: rgb(3,25,38);
	--main-text-color: #000000;
	--input-field-color: rgb(244,233,205);
	--darker-messages-color: #cdcdcd;
	--form-background-color: rgb(157,190,187);
	--akcent-color: rgb(3,25,38);
	--icon-background-color: rgb(244,233,205);
	--schedule-table-header-color: rgb(70, 129, 137);
	--schedule-table-time-color: rgb(70, 129, 137);
	--schedule-lesson-color: rgb(157, 190, 187);
	--actionbtn-text-color: rgb(244,233,205);
	--location-text-color: rgb(3,25,38);
}
/* Use media tag not to break desktop version */
@media (max-width: 500px) {
	* {
		box-sizing: border-box;
	}

	html, body {
		width: 100vw; !important;
		max-width: 100vw;
		font-size: var(--font-size);
		height: auto;
		min-width: 0;
		min-height: 0;
		background: var(--background-color);
		color: var(--main-text-color);
		& .container {
			width: 100vw; !important;
			max-width: 100vw;

			& .span-24, .span-20 {
				width: 100%;
			}

			textarea, table {
				max-width: 100%;
				border-color: var(--module-border-color);
			}

			table td{
				border-color: var(--module-border-color);
			}

			& #top {
				height: auto;
				display: flex;
				flex-direction: column;
				align-items: stretch;
			}

			& #visual {
				display: flex;
				flex-direction: row;
				height: var(--header-height);
				background: var(--topmg);
				justify-content: center;
				justify-items: center;
				& #school-name, #change_language, .logout-timer {
					display: none;
				}
			}

			& #account-actions {
				height: auto;
				font-size: 1rem;
				padding: 0 var(--padding-1);
				line-height: var(--padding-4);
				display: flex;
				flex-direction: column;

				& * {
					float: none !important;
					margin-left: 0 !important;
					border-left: none !important;
					background-position: 2px 9px !important;
					background-size: var(--padding-2) !important;
				}

				& #unread_forum_posts {
					display: none;
				}
			}

			& #top-selection {
				width: 100%;
				margin: 0;
				padding: 8px;
				box-sizing: border-box;
				background-color: var(--background-color);
				& form {
					margin: 0;
					display: flex;
					align-items: center;
					background-color: var(--form-background-color);
					border-radius: var(--padding-1);
					& label {
						width: auto !important;
						margin: 0 8px 0 0;
						padding: 0;
						float: none;
					}

					& select {
						width: 100%;
						margin: 0;
						flex-grow: 1;
						float: none;
					}

					& .clear {
						display: none;
					}
				}
			}

			& #site-content {
				width: 100%;
				max-width: 100%;
				height: auto;

				& #content {
					width: 100%;
					max-width: 100%;
					height: auto;

					& .double-column {
						max-width: 100%;
						width: 100%;
						float: none;

						& .action-module {
							height: auto;
							max-width: 100%;
							box-sizing: border-box;
							float: none;
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							row-gap: 8px;
							padding: 8px;
							border: none;

							& .action-button {
								float: none;
								margin: 0;
								font-size: var(--font-size);
								max-width: 100%;
								box-sizing: border-box;
								background: var(--mg);
								width: 100%;
								justify-content: center;
								text-align: center;
								border-radius: var(--padding-1);
								box-shadow: 0 5px 10px var(--module-shadow-color);
								a {
									max-width: 100%;
									box-sizing: border-box;
									color: var(--actionbtn-text-color) !important;
								}
							}
						}
					}

					& .left-column, .right-column {
						max-width: 100%;
						width: 100%;
						float: none;
					}

					& .schedule {
						overflow-x: auto !important;

						& table {
							& tbody tr td:first-child, & thead tr th:first-child {
								position: sticky;
								z-index: 10;
								left: -1px;
								border-style: none;
							}

							& tbody tr td:first-child {
								background: var(--schedule-table-time-color);
							}

							td.lesson{
								background-color: var(--schedule-lesson-color);
							}

							thead th {
								background-color: var(--schedule-table-header-color);
							}

							td{
								background: var(--module-color);
							}

							b{
								color: var(--module-color);
							}

							span{
								color: var(--module-color);
							}

							div.callendar_event{
								color: var(--module-color);
							}
						}
					}
				}

			}

			& form {
				background-color: var(--form-background-color);

			.field {
				margin: 0;
				display: flex;
				flex-direction: row;
				align-items: center;
				background-color: var(--form-background-color);

				& label {
					width: auto !important;
					margin: 0 8px 0 0;
					padding: 0;
					float: none;
				}

				& input, select {
					width: 100%;
					margin: 0;
					flex-grow: 1;
					background-color: var(--input-field-color) !important;
					border-color: var(--module-border-color);
					border-width: 0 !important;
					color: var(--main-text-color);
				}

				& .clear {
					display: none;
				}
			}

			}
		}

		& #footer {
			width: 100%;
			max-width: 100%;
			background-color: var(--background-color);
			border-color: var(--module-border-color);
		}
	}

	select {
		width: 100%;
		margin: 0;
		flex-grow: 1;
		background-color: var(--input-field-color) !important;
		border-color: var(--module-border-color);
		border-width: 0 !important;
		border-radius: var(--padding-1);
		box-shadow: 0 5px 10px var(--module-shadow-color);
		color: var(--main-text-color);

	}

	span.toggle-switch{
		font-size: 1rem;
		font-weight: bold;
	}
	.shorted-container{

		overflow: hidden;
		position: relative;
	}
	.shorted-container-gradient{
		width: 100%;
		height: 50%;
		position: absolute;
		bottom: 0;
		left: 0;
		background: #ffffff;
		background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, #3d4c5a 100%);
		box-sizing: border-box;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		color: var(--mc) !important;
	}

	html body div.shorted-container-gradient a{
		color: var(--gradient-text-color) !important;
		transform: translateY(200%);
		font-weight: bold;
		font-size: 1.3rem;
	}

	body[path="/users/sign_in"] #container {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		margin-top: 0;
		margin-left: 0;
		z-index: -1;
		background-color: var(--background-color);
	}

	input[type=text], input[type=password], input.text, input.title, textarea, select{
		background-color: var(--input-field-color) !important;
		border-color: var(--module-border-color);
	}

	schedule table tbody td{
		background: var(--module-color) !important;
	}

	.even{
		background-color: var(--darker-messages-color) !important;
	}

	table tr:first-child{
		background-color: var(--darker-messages-color) !important;
	}
	#message-folders .current{
		background-color: var(--akcent-color) !important;
	}
	body[path="/users/sign_in"] .module{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 90%;
		display: grid;
		place-items: center;
		background-color: var(--module-color) !important;
		border-color: var(--module-border-color) !important;
		padding-bottom: 5%;
		margin-left: 3%;
		margin-right: 3%;
		max-width: 94%;
	}

	#student-card {
		overflow-x: auto;
		position: sticky;
		border-color: var(--module-border-color);
		background-color: var(--background-color);
		padding: 0;
	}

	#student-card .data{
		color: var(--main-text-color);
	}

	#student-card #student-data{
		color: var(--main-text-color);
	}

	h4,h5,h6{
		color: var(--main-text-color);
	}

	.forum-table td.thread-title .last-post{
		color: var(--main-text-color);
	}

	.forum-table td.thread-data{
		color: var(--main-text-color);
	}

	.module{
		background-color: var(--module-color) !important;
		border-color: var(--module-border-color) !important;
		box-shadow: 0 5px 10px var(--module-shadow-color);
		border-width: 0;
		border-radius: var(--padding-1);
		margin-left: var(--padding-1);
		margin-right: var(--padding-1);
		max-width: 100%;
	}
	.action-module{
		background-color: var(--background-color) !important;
		border-color: var(--module-border-color) !important;


	}
	.module h3{
		border-color: var(--underline-color) !important;
		color: var(--main-text-color);

	}
	.action-module h3{
		border-color: var(--underline-color) !important;
		color: var(--main-text-color);

	}
	body[path="/users/sign_in"] label{
		/*font-size: 3rem;*/
	}
	body[path="/users/sign_in"] input{
		/*font-size: 2rem;*/
		width: 50%;
	}
	body[path="/users/sign_in"] .field{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	body[path="/users/sign_in"] form{
		justify-content: center;
		display: grid;
		place-items: center;
		margin: 0;
		width: 100%;
		padding: 10%;
	}

		body[path="/users/sign_in"] .actions{
			display: flex;
			justify-content: center;
			width: 75%;
			align-items: center;
		}

	body[path="/users/sign_in"] .remember-me{
		/*font-size: 2rem;*/
		margin-left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
	}
	body[path="/users/sign_in"] .remember-me input{
		width: 1rem;
		aspect-ratio: 1 / 1;
	}
	label[for="user_password"]{
		display: none;
	}
	label[for="user_login"]{
		display: none;
	}
	label[for="nothing"]{
		display: none;
	}
	body[path="/users/sign_in"] h1{
		font-size: 2rem;
	}
	html body[path="/users/sign_in"] div.field input#user_login, input#user_password{
		width: 75%;
		min-height: 44px; /* good mobile touch size */
		box-sizing: border-box; /* so padding + border don’t break layout */
		font-size: 1.5rem;
		padding: 1rem;
		margin: 0.5rem;
		background-color: #ffffff;
		border: 4px solid; /* required, sets border width */
		border-image: var(--mg);
		border-image-slice: 1;
		border-radius: 5px;
		background: var(--background-color);
	}


	body[path="/users/sign_in"] input[type="submit"]{
		background: #00ddff;
		background: var(--mg);
		font-size: 1.5rem;
		width: 75%;
		padding: 1rem;
		border-radius: 5px;
		margin: 0.5rem;

	}
	#password-recovery{
		padding: 0;
	}
	#password-recovery a{
		font-size: 1rem;
		color: var(--mc)
	}

	body[path="/users/sign_in"] #top{
		background: var(--topmg);
		height: 80px;
	}

	#logo{
		justify-content: center;
		justify-items: center;
		margin: 0 auto;
	}
	#logo a{
		justify-content: center;
		justify-items: center;
	}
	#content{
		background: var(--background-color);
	}

	.priority_1{
		border-color: var(--module-border-color) !important;
		border-width: 0;
		border-bottom: 2px solid;
	}

	.priority_2{
		border-color: var(--underline-color) !important;
		border-width: 0;
		border-bottom: 2px solid;
	}
	.apple_pagination{
		background-color: var(--background-color) !important;
		border-color: var(--module-border-color) !important;
	}
	.icon-container svg{
		vertical-align: middle;
		grid-area: 1 / 1;
	}
	.icon-container{
		width: 90%;
		aspect-ratio: 1 / 1;
		border-radius: 100px;
		box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
		transition: opacity 0.3s ease;
		line-height: 60%;
		display: grid;
		place-items: center;
		align-items: center;
		background-color: var(--icon-background-color);
	}
	#breadcrumbs{
		font-size: 1rem;
		color: var(--main-text-color);

		a{
			color: var(--location-text-color) !important;
			font-weight: bold;
			text-decoration: underline;
		}
	}
	.notification-number{
		grid-area: 1 / 1;
		justify-self: end;  /* right side */
		align-self: end;
		font-size: 1.2rem;
		padding: 5%;
		line-height: 60%;
		/*color: #7c9ab7;*/
		color: var(--akcent-color);
		font-weight: bold;
		text-shadow: -0px 1px 5px rgba(0, 0, 0, 0.5);
	}
	html body div.span-24 div#account-actions{
		/*font-size: 1.9rem;*/
		display: grid;
		height: 150px;
		width: 100%;
		grid-auto-flow: column;
		grid-template-columns: 20% 20% 20% 20% 20%;
		grid-auto-columns: max-content;/* lays items out horizontally */
		/*gap: 5%;                      !* spacing between items *!*/
		justify-content: space-between;        /* center the whole row horizontally */
		align-items: center;
		box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
		border-radius: 15px;
		padding: 0 1rem;
	}

	.theme-settings-container{
		width: 100%;
		height: 240px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;

		svg{
			position: absolute;
			right: calc(calc(var(--header-height) - var(--padding-2)) / 2);
			top: calc(calc(var(--header-height) - var(--padding-2)) / 2);
			transform: translate(calc(50% - var(--padding-1)), calc(-50% + var(--padding-1)));
			pointer-events: none;
		}
	}

	.main-theme-settings-element{
		border-radius: var(--padding-1);
		background-color: var(--module-color);
		width: calc(var(--header-height) - var(--padding-4));
		height: calc(var(--header-height) - var(--padding-4));
		position: absolute;
		right: var(--padding-2);
		top: var(--padding-2);
		box-shadow: 0 8px 10px var(--module-shadow-color);
		transition: width 0.2s ease, height 0.2s ease;
		overflow: hidden;
		pointer-events: all;

	}

	.theme-settings-grid-container{
		display: grid;
		width: calc(100% - var(--padding-2));
		height: 50%;
		position: absolute;
		right: var(--padding-1);
		top: calc(120px - var(--padding-2));
		grid-auto-flow: column;     /* place items horizontally */
		grid-auto-columns: 1fr;     /* each item same width */
		place-items: center;
	}

	.theme-option-container{
		width: 90%;
		aspect-ratio: 1 / 1;
		border-radius: var(--padding-1);
		box-shadow: 0 8px 10px var(--module-shadow-color);
	}

	.theme-option-elem{
		width: calc(100% - var(--padding-2));
		height: 20%;
		border-radius: var(--padding-1);
		margin-left: var(--padding-1);
		margin-top: var(--padding-1);
	}

	.main-theme-settings-element.big{
		width: calc(100% - var(--padding-4));
		height: calc(100% - var(--padding-4));
	}

	.ghost-object{
		aspect-ratio: 1 / 1;
		height: 100%;
		border-radius: var(--padding-1);
		display: flex;
		justify-content: center;
	}

}
