@media screen and (orientation: portrait) {
	body[path="/users/sign_in"] #container {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		margin-top: 0;
		margin-left: 0;
		z-index: -1;
	}
	body[path="/users/sign_in"] .module{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		display: grid;
		place-items: center;
	}
	body[path="/users/sign_in"] label{
		font-size: 3rem;
	}
	body[path="/users/sign_in"] input{
		font-size: 2rem;
		width: 50%;
		padding: 1rem 1rem;
	}
	body[path="/users/sign_in"] .field{
		display: flex;
		justify-content: center;
		width: 750px;
		height: 100px;
		gap: 10rem;
		align-items: center;
	}
	a, button, input, label, div {
		touch-action: manipulation;
	}
	body[path="/users/sign_in"] .remember-me{
		font-size: 2rem;
		margin-left: 0;
		display: flex;
		justify-content: center;
		width: 750px;
		height: 100px;
		align-items: center;
	}
	body[path="/users/sign_in"] .remember-me input{
		width: 10%;
		height: 25%;
	}
	body[path="/users/sign_in"] .actions{
		display: flex;
		justify-content: center;
		width: 750px;
		height: 100px;
		gap: 10rem;
		align-items: center;
	}
	body[path="/users/sign_in"] div.actions input{
		margin: 0;
	}
	body[path="/users/sign_in"] form{
		justify-content: center;
		display: grid;
		place-items: center;
		margin: 0;
		padding: 0;
		width: 750px;
		border: black solid 2px;
		border-radius: 20px;
	}
	html{
		font-size: 16px;
	}
	body{
		font-size: 16px;
	}
	body[path="/users/sign_in"]{
		overflow: hidden;
	}
	body[path="/users/sign_in"] h1{
		font-size: 3rem;
		text-align: center;
	}
	body[path="/users/sign_in"] label[for="nothing"]{
		display: none;
	}
	body[path="/users/sign_in"] #password-recovery{
		width: 750px;
		height: 150px;
		padding-left: 0;
		display: grid;
		place-items: center;
	}
	body[path="/users/sign_in"] a{
		font-size: 2rem;
	}
	body[path="/users/sign_in"] .idu-notice{
		font-size: 0.75rem;
		opacity: 1;
		animation: fadeAway 1s ease forwards;
		animation-delay: 2s;
	}

	@keyframes fadeAway {
		to {
			opacity: 0;
		}
	}
	body[path="/users/sign_in"] #top{
		height: 100px;
		display: flex;
		align-items: center;
	}
	body[path="/users/sign_in"] #language{
		padding: 0;
		font-size: 1rem;
	}
	body[path="/users/sign_in"] img{
		width: 150px;
		height: auto;
	}

	body[path="/"] #top{
		height: 100px;
		display: flex;
		align-items: center;
	}
	body[path="/"] #language{
		padding: 0;
	}
	body[path="/"] img{
		width: 150px;
		height: auto;
	}


	body[path="/"] .no-menu #content .left-column{
		width: 950px; !important;
	}
	body[path="/"] .no-menu #content .right-column{
		width: 950px; !important;
	}

	body[path="/"] h3{
		font-size: 3.5rem;
		font-weight: bold;
		text-align: center;
	}
	/*body[path="/"] div#account-actions{*/
	/*	font-size: 1rem;*/
	/*}*/
	body[path="/"] span.toggle-switch{
		font-size: 2rem;
	}
	body[path="/"] div.module {
		border-width: 5px;
		border-style: solid;
		border-color: darkgray;
		border-radius: 15px;
		min-height: 100px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	}
	body[path="/"] div.action-module div.action-button{
		width: 950px;
		margin-left: 0;
		font-size: 3rem;
		padding: 0;
		margin-bottom: 17px;
		border-radius: 15px;
		text-align: center;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

	}
	body[path="/"] div.double-column{
		font-size: 16px;
	}
	body[path="/"] div.right-column{
		font-size: 16px;
	}
	body[path="/"] #unique-id26{
		font-size: 2rem;
	}
	body[path="/"] #unique-id26 form div.field label{
		width: 40%;
		margin: 0;
		font-size: 2.5rem;
	}
	body[path="/"] #unique-id26 form div.field input{
		width: 40%;
		margin: 0;
		font-size: 2.5rem;
	}
	body[path="/"] #unique-id26 form div.field{
		display: flex;             /* enable flex layout */
		justify-content: center;   /* center horizontally */
		align-items: center;       /* center vertically (for single row height) */
		flex-wrap: wrap;           /* allow items to wrap to next line if needed */
		gap: 0px;                 /* optional spacing between items */
	}
	body[path="/"] div.module:has(#unique-id26) {
		display: none;
	}
	body[path="/"] div#top{
		display: block;
	}
	body[path="/"] #top-selection {
		display: block;
		margin-top: 150px;
		font-size: 2rem;
	}
	body[path="/"] #top-selection form {
		display: block;
		font-size: 2rem;
		display: flex;
		justify-content: center;   /* center horizontally */
		align-items: center;       /* center vertically (for single row height) */
		flex-wrap: wrap;           /* allow items to wrap to next line if needed */
		gap: 0;
		width: 100%;
	}
	body[path="/"] #top-selection form select{
		font-size: 2rem;
		width: 83%;
	}
	body[path="/"] #top-selection form label{
		min-width: 17%;
		padding: 0;
		margin: 0;
	}
	#footer{
		font-size: 2rem;
	}
	body[path="/"] div.schedule table img{
		display: none;
	}
	body[path="/"] div.schedule table{
		font-size: 1rem;
	}
	body[path="/"] div.schedule table span.subject{
		font-size: 1rem; !important;
		font-weight: bold;
	}
	body[path="/"] div.schedule table span.location{
		font-size: 1rem; !important;
		font-weight: bold;
	}
	body[path="/"] .icon-container svg{
		vertical-align: middle;
		grid-area: 1 / 1;
	}
	body[path="/"] .icon-container{
		width: 120px;
		height: 120px;
		background-color: rgba(255, 255, 255, 0.90);
		border-radius: 100px;
		box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
		transition: opacity 0.3s ease;
		line-height: 120px;
		display: grid;
		place-items: center;
		align-items: center;
	}
	#breadcrumbs{
		font-size: 2rem;
	}
	.notification-number{
		grid-area: 1 / 1;
		justify-self: end;  /* right side */
		align-self: end;
		font-size: 2.5rem;
		height: 3rem;
		width: 3rem;
		line-height: 3rem;
		/*color: #7c9ab7;*/
		color: red;
		font-weight: bold;
		text-shadow: -0px 1px 5px rgba(0, 0, 0, 0.5);
	}
	body[path="/"] #account-actions{
		font-size: 1.9rem;
		display: grid;
		height: 150px;
		grid-auto-flow: column;         /* lays items out horizontally */
		gap: 1rem;                      /* spacing between items */
		justify-content: center;        /* center the whole row horizontally */
		align-items: center;
		box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
		border-radius: 15px;
		padding: 0 1rem;
	}
	body[path="/"] div.module a{
		font-size: 3rem;
	}
	body[path="/"] div.module span{
		font-size: 3rem;
	}
	body[path="/"] tbody span a{
		font-size: 1rem; !important;
	}
	body[path="/"] div.schedule{
		overflow-x: auto !important;
	}
	body[path="/"] .schedule table tbody tr td:first-child{
		position: sticky;
		z-index: 10;
		left: -1px;
		background: white;
		border-style: solid;
		border-color: white;
		border-width: 1px;
	}
	body[path="/"] thead :nth-child(2){
		font-size: 3rem;
	}
	body[path="/"] thead :first-child :first-child:not(div){
		position: sticky;
		z-index: 10;
		left: 0;
		background: #e8e8e8;
		border-style: solid;
		border-color: white;
		border-width: 1px;
	}
	body[path="/"] thead :nth-child(2) :first-child:not(b){
		position: sticky;
		z-index: 10;
		left: 0;
		background: #e8e8e8;
		border-style: solid;
		border-color: white;
		border-width: 1px;
	}
	body[path="/subjects"] .no-menu #content .left-column{
		width: 950px; !important;
	}
	body[path="/subjects"] .no-menu #content .right-column{
		width: 950px; !important;
	}
	body[path="/subjects"] td.thread-title{
		font-size: 2rem;
	}
}
